[general]
max_hyperlane_fees = [10, 15] # диапазон в долларах
hyperlane_fees_checker_start_date = "2000-01-01T00:00:00" # тут я думаю понятно как заполнять, сначала дата, после буквы Т время (можно оставить нули)
number_of_retries = 3
retry_delay = 15
timeout = 15
SHUFFLE_ACCOUNTS = true
SHUFFLE_ACTIONS = false

[delays]
accounts_delay = [300, 500]  # задержка между кошельками в потоке
action_delay = [10, 15]  # задержка между действиями одного кошелька
# (действие в данном контексте - это каждая строка или ее повторение из раздела [functions] в пресете)
flow_delay = [1000, 2000]  # задержка между потоками

start_time = "00:00" # Время старта отработки по локальному времени устройства запуска, при 00:00 функция отключена
number_or_replays = 10 # 1 для однократного запуска, можно вписать любое целое положительное число. Если число >1, то повторно будет запускать в 00:00

[flow]
wallets_per_flow = 1
# Количество кошельков в потоке. Скрипт сам разобьет кошельки по нужному количеству потоков согласно этой настройки
# Например, у меня 100 кошельков и здесь указано 10, значит будет 10 потоков по 10 кошельков
# Между запуском потоков будет действовать настройка flow_delay (задержка начнется только после того, как кошельки в предыдущем потоке закончат свое выполнение), а между запуском кошельков accounts_delay
# Если указать 1, то это полностью эквивалентно последовательному выполнению, то есть каждый кошелек будет в отдельном потоке, тогда будет действовать задержка flow_delay
# Если указать очень большое число (например 10к), то все кошельки будут в одном потоке, и будет действовать задержка accounts_delay
# 

[gas]
gas_control = true
gas_retry_delay = 30

gas_price_multiplier = 1.2
gas_limit_multiplier = 1.5
transfer_multiplier_if_insufficient = 2 # при отправке всего ETH на биржу будет браться кол-во ETH для текущей транзы и умножаться на 2. Меньше 2 не ставить.

[gas.maximum_gwei_dict]
base = 0.01
arbitrum = 0.01
optimism = 0.01

[logger] # не трогать
rotation = "2 MB"
retention = "1 week"
debug_logging = false
log_to_file = true
show_full_address = false

[telegram]
send_notifications = false
bot_key = ""
chat_id = ""

[CEX]
[CEX.okx]
api_key = ""
api_secret_key = ""
passphrase = ""

[CEX.bitget]
api_key = ""
api_secret_key = ""
passphrase = ""

[CEX.mexc]
api_key = ""
api_secret_key = ""
passphrase = "" # не заполнять

[networks_rpc]
Ethereum = [
    { url = "https://eth.llamarpc.com", max_retries = 5 },
    { url = "https://ethereum.publicnode.com", max_retries = 3 },
]

Base = [
    { url = "https://base.llamarpc.com", max_retries = 5 },
    { url = "https://1rpc.io/base", max_retries = 3 }
]


Optimism = [
    { url = "https://optimism.llamarpc.com", max_retries = 5 },
    { url = "https://1rpc.io/op", max_retries = 3 }
]

Arbitrum = [
    { url = "https://arb1.arbitrum.io/rpc", max_retries = 5 },
]
